<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mycss.css">
    <script src="js/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="uedit/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="uedit/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="uedit/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">

        UE.getEditor("myEditor");
        UE.getEditor("myEditor2");

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <span class="glyphicon glyphicon-plus pull-left">&nbsp;</span>
            <h4>新建试题</h4>
            <span class="pull-right close1">×</span>
            <hr>
        </div>
    </div>
    <div class="row">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">难度</label>
        </div>
        <div class="col-xs-10">
            <label class="radio-inline">
                <input type="radio" name="answer" value="1"> 简单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="radio-inline">
                <input type="radio" name="answer" value="1"> 一般&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="radio-inline">
                <input type="radio" name="answer" value="1"> 困难&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
        </div>
    </div>
    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">题干</label>
        </div>
        <div class="col-xs-10">
            <textarea style="height:200px;" name="后台取值的key" id="myEditor"></textarea>
        </div>
    </div>


    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">选项A</label>
        </div>
        <div class="col-xs-10 ma-l_15">
            <div class="row">
                <div class="col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="answer" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default co-gray" type="button">
                            <input type="checkbox" class="pull-left" style="font-size:12px;">&nbsp;正确答案&nbsp;&nbsp;
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">选项B</label>
        </div>
        <div class="col-xs-10 ma-l_15">
            <div class="row">
                <div class="col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="answer" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default co-gray" type="button">
                            <input type="checkbox" class="pull-left" style="font-size:12px;">&nbsp;正确答案&nbsp;&nbsp;
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">选项C</label>
        </div>
        <div class="col-xs-10 ma-l_15">
            <div class="row">
                <div class="col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="answer" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default co-gray" type="button">
                            <input type="checkbox" class="pull-left" style="font-size:12px;">&nbsp;正确答案&nbsp;&nbsp;
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">选项D</label>
        </div>
        <div class="col-xs-10 ma-l_15">
            <div class="row">
                <div class="col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="answer" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default co-gray" type="button">
                            <input type="checkbox" class="pull-left" style="font-size:12px;">&nbsp;正确答案&nbsp;&nbsp;
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc">选项E</label>
        </div>
        <div class="col-xs-10 ma-l_15">
            <div class="row">
                <div class="col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="answer" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default co-gray" type="button">
                            <input type="checkbox" class="pull-left" style="font-size:12px;">&nbsp;正确答案&nbsp;&nbsp;
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </div>
                <div class="col-xs-1 ma-l_15">
                    <a href="#" class="btn btn-default ">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="row ma-t15">
        <div  class="col-xs-2" >
            <label class="pull-right" for="abc"></label>
        </div>
        <div class="col-xs-10">
            <a href="javascript:;" onclick="$('#adv').toggle();" class="col-xs-8 text-success"> >>点击这里显示高级选项...</a>
        </div>
    </div>


    <div id="adv">
        <div class="row ma-t15">
            <div  class="col-xs-2" >
                <label class="pull-right" for="abc">解析</label>
            </div>
            <div class="col-xs-10">
                <textarea style="height:200px;" name="后台取值的key" id="myEditor2"></textarea>
            </div>
        </div>
        <div class="row ma-t15">
            <div  class="col-xs-2" >
                <label class="pull-right" for="abc">分值</label>
            </div>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="answer" placeholder="">
            </div>
        </div>
    </div>


    <br />
    <br />
    <hr>

    <input type="submit" class="btn btn-success pull-right ma-l20" value="确定">
    <input type="button" class="btn btn-default co-gray pull-right" value="取消">
</div>

</body>
</html>