<div class="panel dux-box">
   <div class="table-tools clearfix ">
        <div class="float-left">
            <form method="post" action="{url()}">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" id="keyword" name="keyword" size="20" value="{$pageMaps.keyword}" placeholder="订单编号">
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="float-right">
            <form method="post" action="{url()}">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="field">
                            <select class="input" name="car_id" id="car_id">
                              <option value="0">选择车辆</option>
                               <!--loop{$categoryList as $vo}-->
                               <option value="{$vo.car_id}" 
                               <!--if{$pageMaps['car_id'] == $vo['car_id']}-->
                               selected="selected"
                               <!--{/if}-->
                               <!--if{$vo['type'] == 0 || $vo['app'] != APP_NAME}-->
                               style="background-color:#CCC" disabled="disabled"
                               <!--{/if}-->
                               >{$vo.cname}</option>
                               <!--{/loop}-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <select class="input" name="position_id">
                              <option value="0">选择车辆</option>
                               <!--loop{$positionList as $vo}-->
                               <option value="{$vo.position_id}" 
                               <!--if{$pageMaps['position_id'] == $vo['position_id']}-->
                               selected="selected"
                               <!--{/if}-->
                               >{$vo.name}</option>
                               <!--{/loop}-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <select class="input" name="status">
                              <option value="0">支付状态</option>
                               <option value="1" 
                               <!--if{$pageMaps['status'] == 1}-->
                               selected="selected"
                               <!--{/if}-->
                               >已支付</option>
                               <option value="2" 
                               <!--if{$pageMaps['status'] == 2}-->
                               selected="selected"
                               <!--{/if}-->
                               >未支付</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table id="table" class="table table-hover ">
            <tbody>
                <tr>
                    <th width="60">选择</th>
                    <th width="100">订单编号</th>
                    <th width="180">车辆信息</th>
                    <th width="120">客户姓名</th>
                    <th width="160">客户手机</th>
                    <th width="150">行程</th>
                    <th width="60">天数</th>
                    <th width="100">总金额</th>
                    <th width="120">支付状态</th>
                    <th width="160">下单时间</th>
                    <th width="100">操作</th>
                </tr>
                <!--loop{$list as $vo}-->
                <tr>
                    <td>
                        <input type="checkbox" name="id[]" value="{$vo.reserve_id}" />
                    </td>
                    <!-- <td>{$vo.resver_id}</td> -->
                    <td><a href="{$vo.aurl}" target="_blank">{$vo.no}</a></td>
                    <td><a href="{$vo.curl}" target="_blank">{$vo.aname}</a></td>
                    <td><a href="{$vo.curl}" target="_blank">{$vo.name}</a></td>
                    <td><a href="{$vo.curl}" target="_blank">{$vo.phone}</a></td>
                    <td><a href="{$vo.curl}" target="_blank">{$vo.trip}</a></td>
                    <td><a href="{$vo.curl}" target="_blank">{$vo.days}天</a></td>
                    <td><a href="{$vo.curl}" target="_blank">{$vo.amount}</a></td>
                    <td>
                    
                       <!--if{$vo['status']}-->
                       <span class="tag bg-green">已支付</span>
                       <!--{else}-->
                       <span class="tag bg-red">未支付</span>
                       <!--{/if}-->
                    </td>
                    <td>{date('Y-m-d H:i:s',$vo['time'])}</td>
                    <td>
                        <a class="button bg-blue button-small icon-pencil" href="{url('edit',array('reserve_id'=>$vo['reserve_id']))}" title="修改"></a>
                        <a class="button bg-red button-small icon-trash-o js-del" href="javascript:;" data="{$vo.reserve_id}" title="删除"></a>
                    </td>
                </tr>
                <!--{/loop}-->
            </tbody>
        </table>
    </div>

    <div class="panel-foot table-foot clearfix">
        <div class="float-left">
            <div class="form-inline">

                <!-- <div class="form-group">
                    <div class="field">
                        <select class="input" id="selectAction">
                            <option value="1">发布</option>
                            <option value="2">草稿</option>
                            <option value="3">移动</option>
                            <option value="4">删除</option>
                        </select>
                    </div>
                </div> -->

                <div class="form-button">
                    <a class="button bg-blue button-small" id="selectAll" type="button">全选</a>
                    <a class="button bg-blue button-small" id="selectSubmit" type="submit">执行</a>
                </div>

            </div>
            <br>
        </div>
        <div class="float-right">
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
	Do.ready('base',function() {
		//移动操作
		$('#selectAction').change(function() {
			var type = $(this).val();
			if(type == 3){
				$(this).after($('#reserve_id').clone());
			}else{
				$(this).nextAll('select').remove();
			}
		});
		//表格处理
		$('#table').duxTable({
			actionUrl : "{url('batchAction')}",
			deleteUrl: "{url('del')}",
			actionParameter : function(){
				return {'reserve_id' : $('#selectAction').next('#reserve_id').val()};
			}
		});
	});
</script>